body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
p{
    color: darkgoldenrod;
}
h1{
    color: darkgreen;
}
h2{
    color: darkturquoise;
}
h3{
    color: darkmagenta;
}
.ar{
    color: blue;
}
   .flexable{
    display: flex;
    margin-bottom: 50px;
}
.sw{
    width: 50%;
    padding-left: 15%;
}
.sw img{
    width: 50%;
    
}

.as{
    color: darkred;
}
.link-button{
    text-decoration: none;
    background-color: chartreuse;
    padding: 0px;
    border-radius: 5px;
}
.background{
    background-image: url(image.png);
    
}
.dream-big{
    background-image: url(aaa.png);
}
experience{
    background-image: url(ddddd.png);
}
.developer{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px darkturquoise;
}