body{
    font-family: 'Poppins', sans-serif;
}
.ar{
    color: blue;
}
section{
    display: flex;
}
.sw{
    width: 50%;
    padding-left: 15%;
}
.sw img{
    width: 50%;
    
}
.link{
    text-decoration: none;
    background-color: chartreuse;
    padding: 15px;
}